body {
	font-size: 16px;
}

.container {
	max-width: 1024px;
	margin: auto;
	font-size: 2rem;
}

.clearfix {
	clear: both;
}

.form, .result {
	width: 46%;
	float: left;
	padding: 2%;
}

.group {
	margin-bottom: 1rem;
}


small, .require {
	color: red;
}

small {
	font-size: 1rem;
}

input, button {
	display: block;
	width: 100%;
	border: 1px solid lightgray;
	font-size: 2rem;
}

button {
	background-color: #FF9600;
}